body {
    background-color: #ABDCFD;
}

div.col-4 {
    border: 1px solid;
    border-radius: 10px;
    background-color: #F2F2F2;
    text-align: center;
    margin-bottom: 15px;
}

div.coordinates {
    margin-bottom: 15px;

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {


}






